/* Center the game title */
h1 {
  text-align: center;
}

/* Custom styles for buttons */
.btn-align {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px; /* Adjust this value to move the buttons lower or higher */
}

/* Add space between buttons */
.btn-align button {
  margin: 5px; /* Adjust this value to control the space between buttons */
}

/* Center the loggedInAs div */
#loggedInAsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
